<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite> 
            <rules>
                <clear />
                <rule name="Blocking Bad Template Requests" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*{*" />
                    <action type="AbortRequest" />
                </rule>
			    <rule name="SQL Injection - EXEC" stopProcessing="true">
                    <match url="^.*EXEC\(@.*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" url="/includes/templates/404.html" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="SQL Injection - CAST" stopProcessing="true">
                    <match url="^.*CAST\(.*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" url="/includes/templates/404.html" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="SQL Injection - DECLARE" stopProcessing="true">
                    <match url="^.*DECLARE.*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" url="/includes/templates/404.html" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="SQL Injection - DECLARE%20" stopProcessing="true">
                    <match url="^.*DECLARE%20.*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" url="/includes/templates/404.html" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="SQL Injection - NVARCHAR" stopProcessing="true">
                    <match url="^.*NVARCHAR.*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" url="/includes/templates/404.html" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="SQL Injection - sp_password" stopProcessing="true">
                    <match url="^.*sp_password.*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" url="/includes/templates/404.html" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="SQL Injection - xp" stopProcessing="true">
                    <match url="^.*%20xp_.*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="CustomResponse" url="/includes/templates/404.html" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Application Adminsitration" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SCRIPT_NAME}" pattern="^/(.*(CFIDE|cfide|cdn|CFFormGateway|jrunscripts|railo-context|fckedito r)).*$" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Flash and Flex Communication and Tests" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SCRIPT_NAME}" pattern="^/(.*(flashservices|flex2gateway|flex-remoting)).*$" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Unit Tests" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SCRIPT_NAME}" pattern="^/test/" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Static Files" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SCRIPT_NAME}" matchType="Pattern" pattern="\.(bmp|gif|jpe?g|png|css|js|txt|pdf|doc|xls|xml|cfc|ico|php|asp|cfc|cfm)$" ignoreCase="false" negate="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Do not allow cfm extentions" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SCRIPT_NAME}" matchType="Pattern" pattern="\.(cfm)$" ignoreCase="false" negate="false" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm/404" appendQueryString="true" />
                </rule>
                <rule name="Insert index.cfm" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm/{PATH_INFO}" appendQueryString="true" />
                </rule> 
            </rules>
            <rewriteMaps>
                <rewriteMap name="/services" />
            </rewriteMaps> 
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Powered-By" value="Adobe ColdFusion" />
            </customHeaders>
        </httpProtocol>
        <httpErrors errorMode="Detailed" />
        <security>
            <requestFiltering>
                <filteringRules>
                    <filteringRule name="BlockBadAdobeBot" scanUrl="true" scanQueryString="true">
                        <denyStrings>
                            <add string="coldfusion.runtime.ImplicitGetter@" />
                        </denyStrings>
                    </filteringRule>
                </filteringRules>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
